/*走马灯*/
.el-carousel__item h3 {
    color: #475669;
    font-size: 18px;
    opacity: 0.75;
    line-height: 300px;
    margin: 0;
}

.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}
/*走马灯end*/

/*左侧商品分类*/
.goods-more-tab{
    padding: 10px;
}

.goods-more-tab .tab-title{
    font-size: 16px;
    padding: 20px 10px;
    display: block;
}

.goods-more-tab .tab-subtitle{
    font-size: 10px;
}
/*左侧商品分类end*/

/* 商品卡片*/
.time {
    font-size: 13px;
    color: #999;
}

.bottom {
    margin-top: 13px;
    line-height: 12px;
}

.button {
    padding: 0;
    float: right;
}

.image {
    width: 100%;
    display: block;
    /*padding: 20px;*/
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}
/*商品信息*/
.card-goods{
    padding: 14px;
}
.card-goods-name{
    height: 40px;font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.card-goods-price{
    color: #e33333;
}
/* 商品卡片end*/

/*热搜排行榜*/
.heat-search{
    font-size: 18px;
    font-weight: bold;
    justify-items: center;
}
