<el-footer th:fragment="copy" style="font-size: 12px;color:#999999;">
    <el-divider></el-divider>
    <el-main>
        <el-row :gutter="20">
            <el-link href="https://github.com/Hentai02" :underline="false">
                <span>关于我们</span>
            </el-link>
            <el-divider direction="vertical"></el-divider>
            <el-link href="https://blog.hentaiworld.cn/" :underline="false">
                <span>联系我们</span>
            </el-link>
            <el-divider direction="vertical"></el-divider>
            <el-link href="#" :underline="false">
                <span>友情链接</span>
            </el-link>
        </el-row>
        <el-row>
            Copyright © The Hentai Team
        </el-row>
        <el-row :gutter="20">
            <el-link style="vertical-align: middle" href="https://spring.io/" :underline="false">
                <el-image style="height: 20px;" src="/app/img/spring-logo.svg"></el-image>
            </el-link>
            <el-divider direction="vertical"></el-divider>
            <el-link style="vertical-align: middle" href="https://www.thymeleaf.org/" :underline="false">
                <el-image style="height: 20px" src="/app/img/thymeleaf-logo.png"></el-image>
            </el-link>
            <el-divider direction="vertical"></el-divider>
            <el-link style="vertical-align: middle" href="https://cn.vuejs.org/" :underline="false">
                <el-image style="height: 20px;" src="/app/img/vue-logo.svg"></el-image>
            </el-link>
            <el-divider direction="vertical"></el-divider>
            <el-link style="vertical-align: middle" href="https://element.eleme.cn/" :underline="false">
                <el-image style="height: 20px" src="/app/img/element-ui-logo.svg"></el-image>
            </el-link>
            <el-divider direction="vertical"></el-divider>
            <el-link style="vertical-align: middle" href="https://mybatis.org/mybatis-3/" :underline="false">
                <el-image style="height: 20px" src="/app/img/mybatis-logo.png"></el-image>
            </el-link>
            <el-divider direction="vertical"></el-divider>
            <el-link style="vertical-align: middle" href="https://developer.mozilla.org/zh-CN/" :underline="false">
                <el-image style="height: 20px" src="/app/img/mdn-logo.png"></el-image>
            </el-link>
            <el-divider direction="vertical"></el-divider>
            <el-link style="vertical-align: middle" href="https://www.manning.com/" :underline="false">
                <el-image style="height: 20px" src="/app/img/manningLogoBlack.svg"></el-image>
            </el-link>
        </el-row>
    </el-main>
</el-footer>