<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MANNING - 首页</title>
    <script th:src="@{js/jquery.js}"></script>
    <script th:src="@{js/vue.js}"></script>
    <link rel="stylesheet" th:href="@{element-ui/theme-chalk/index.css}">
<!--    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
<!--    <script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
    <script th:src="@{element-ui/index.js}"></script>
    <link rel="stylesheet" th:href="@{css/container.css}">
    <link rel="stylesheet" th:href="@{css/header.css}">
    <link rel="stylesheet" th:href="@{css/index.css}">
    <style>
        .goods-sub-category{
            padding: 20px 10px;
            text-align: left;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
<!-- 头部导航栏 -->
        <div th:replace="~{header :: copy}"></div>
<!-- 头部导航栏end -->

        <el-main>
            <el-row type="flex" class="row-bg" justify="space-between">

<!-- 左侧分类 -->
                <el-col :span="6">
                    <el-card class="box-card">
<!-- 手机数码 -->
                        <el-popover
                                placement="right-start"
                                width="450"
                                trigger="hover">
                            <div class="goods-more-tab">
                                <el-link :underline="false" href="https://element.eleme.io">
                                    <span class="tab-title">更多分类</span>
                                </el-link>
                                <el-link class="tab-subtitle" :underline="false" th:href="@{cid/101}">手机通讯</el-link>
                                <el-divider direction="vertical"></el-divider>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">数码配件</el-link>
                                <el-divider direction="vertical"></el-divider>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">智能设备</el-link>
                                <el-divider direction="vertical"></el-divider>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">影音娱乐</el-link>
                            </div>
                            <div class="goods-more-tab">
                                <el-link href="https://element.eleme.io" :underline="false">
                                    <span class="tab-title">更多品牌</span>
                                </el-link>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">Apple</el-link>
                                <el-divider direction="vertical"></el-divider>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">小米</el-link>
                                <el-divider direction="vertical"></el-divider>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">三星</el-link>
                                <el-divider direction="vertical"></el-divider>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">华为</el-link>
                                <el-divider direction="vertical"></el-divider>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">一加</el-link>
                                <el-divider direction="vertical"></el-divider>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io" target="_blank">OPPO</el-link>
                            </div>

                            <div slot="reference" style="text-align: left;">
                                <el-link class="tab-title" :underline="false">手机数码</el-link>
                            </div>
                            <div class="goods-sub-category" slot="reference">
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">Apple</el-link>
                                <el-divider direction="vertical"></el-divider>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">华为</el-link>
                                <el-divider direction="vertical"></el-divider>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">三星</el-link>
                            </div>
                        </el-popover>
<!-- 手机数码end -->
                        <el-divider></el-divider>
<!-- 游戏装备 -->
                        <el-popover
                                placement="right-start"
                                width="450"
                                trigger="hover">
                            <div class="goods-more-tab">
                                <el-link :underline="false" href="https://element.eleme.io" target="_blank">
                                    <span class="tab-title">更多分类</span>
                                </el-link>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">游戏机</el-link>
                                <el-divider direction="vertical"></el-divider>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">游戏配件</el-link>
                            </div>
                            <div class="goods-more-tab">
                                <el-link href="https://element.eleme.io" :underline="false">
                                    <span class="tab-title">更多品牌</span>
                                </el-link>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">任天堂</el-link>
                                <el-divider direction="vertical"></el-divider>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">微软</el-link>
                                <el-divider direction="vertical"></el-divider>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">索尼</el-link>
                            </div>
                            <div class="goods-sub-category" slot="reference">
                                <el-link class="tab-title" :underline="false">游戏装备</el-link><br>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">Switch游戏</el-link>
                                <el-divider direction="vertical"></el-divider>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">PS4游戏</el-link>
                                <el-divider direction="vertical"></el-divider>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">游戏手柄</el-link>
                            </div>
                        </el-popover>
<!-- 游戏装备end -->
                        <el-divider></el-divider>
<!-- 生活百货 -->
                        <el-popover
                                placement="right-start"
                                width="450"
                                trigger="hover">
                            <div class="goods-more-tab">
                                <el-link :underline="false" href="https://element.eleme.io" target="_blank">
                                    <span class="tab-title">热门</span>
                                </el-link>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">激光打印机</el-link>
                                <el-divider direction="vertical"></el-divider>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">按摩椅</el-link>
                                <el-divider direction="vertical"></el-divider>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">电子书</el-link>
                            </div>
                            <div class="goods-more-tab">
                                <el-link href="https://element.eleme.io" :underline="false">
                                    <span class="tab-title">更多分类</span>
                                </el-link>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">保健护理</el-link>
                                <el-divider direction="vertical"></el-divider>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">办公用品</el-link>
                                <el-divider direction="vertical"></el-divider>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">五金工具</el-link>
                                <el-divider direction="vertical"></el-divider>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">办公设备</el-link>
                            </div>
                            <div class="goods-sub-category" slot="reference">
                                <el-link class="tab-title" :underline="false">生活百货</el-link><br>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">打印机</el-link>
                                <el-divider direction="vertical"></el-divider>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">电子书</el-link>
                                <el-divider direction="vertical"></el-divider>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">电子门锁</el-link>
                            </div>
                        </el-popover>
<!-- 生活百货 -->
                        <el-divider></el-divider>
<!-- 技能服务 -->
                        <el-popover
                                placement="right-start"
                                width="450"
                                trigger="hover">

                            <div class="goods-more-tab">
                                <el-link href="https://element.eleme.io" :underline="false">
                                    <span class="tab-title">推荐</span>
                                </el-link>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">IT服务</el-link>
                                <el-divider direction="vertical"></el-divider>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">语言翻译</el-link>
                                <el-divider direction="vertical"></el-divider>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">摄影约拍</el-link>
                                <el-divider direction="vertical"></el-divider>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">绘画书法</el-link>
                            </div>

                            <div class="goods-sub-category" slot="reference">
                                <el-link class="tab-title" :underline="false">技能服务</el-link><br>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">兼职家教</el-link>
                                <el-divider direction="vertical"></el-divider>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">IT服务</el-link>
                                <el-divider direction="vertical"></el-divider>
                                <el-link class="tab-subtitle" :underline="false" href="https://element.eleme.io">跑腿代办</el-link>
                            </div>
                        </el-popover>
<!-- 技能服务end -->

                    </el-card>

                </el-col>
<!-- 左侧分类end -->

                <el-col :span="11">
                    <!-- 走马灯 -->
                    <div class="grid-content bg-purple-light">
                        <template>
                            <el-carousel indicator-position="outside">
                                <el-carousel-item v-for="item in urls" :key="item">
                                    <el-image
                                            :src="item"
                                            fit="cover"></el-image>
                                </el-carousel-item>
                            </el-carousel>
                        </template>
                    </div>
                    <!-- 走马灯end -->

                    <el-row type="flex" class="row-bg" justify="space-between">
                        <el-col :span="8"><div class="grid-content bg-purple"></div></el-col>
                        <el-col :span="8"><div class="grid-content bg-purple-light"></div></el-col>
                        <el-col :span="8"><div class="grid-content bg-purple"></div></el-col>
                    </el-row>

                </el-col>

                <!-- 热搜排行榜 -->
                <el-col :span="6">
                    <div class="grid-content">
                        <span class="heat-search">热搜排行榜</span>
                    </div>
                </el-col>
                <!-- 热搜排行榜end -->

            </el-row>


<!-- 每日疯抢 -->
            <el-image
                    src="img/f9058ee4880180e3.jpg"
                    fit="contain"></el-image>
            <el-row type="flex" class="row-bg" justify="space-between">
                <template v-for="(item, index) in dayGoods">
                    <el-col :span="4"><div class="grid-content">
                        <el-card  :body-style="{ padding: '0px' }">
                            <img class="image" v-bind:src="['/img/' + item.cover + '.jpg']">
                            <div class="card-goods">
                                <p class="card-goods-name" >{{item.name}}</p>
                                <p class="card-goods-price">￥ {{item.price}}</p>
                            </div>
                        </el-card>
                    </div></el-col>
                </template>
            </el-row>
<!-- 每日疯抢end -->

<!-- 精选活动 -->
            <el-image
                    src="img/c2063a7482c19388.jpg"
                    fit="contain"></el-image>
            <el-row type="flex" class="row-bg" justify="space-between">
                <template v-for="item in eventGoods">
                    <el-col :span="4"><div class="grid-content">
                        <el-card  :body-style="{ padding: '0px' }">
                            <img class="image" v-bind:src="['/img/' + item.cover + '.jpg']">
                            <div class="card-goods">
                                <p class="card-goods-name">{{item.name}}</p>
                                <p class="card-goods-price">￥ {{item.price}}</p>
                            </div>
                        </el-card>
                    </div></el-col>
                </template>
            </el-row>
<!-- 精选活动end -->

<!-- 猜你喜欢 -->
            <el-image
                    src="img/5edc2b84c2367ab8.jpg"
                    fit="contain"></el-image>
            <el-divider content-position="right">
                <el-link href="https://element.eleme.io" target="_blank">更多</el-link>
            </el-divider>
            <el-row type="flex" class="row-bg" justify="space-between" style="flex-wrap: wrap;">
                <template v-for="item in likeGoods">
                    <el-col style="margin: 20px 10px" :span="4"><div class="grid-content">
                        <el-card :body-style="{ padding: '0px' }">
                            <img v-bind:src="['/img/' + item.cover + '.jpg']"  class="image">
                            <div class="card-goods">
                                <p class="card-goods-name">{{item.name}}</p>
                                <p class="card-goods-price">￥ {{item.price}}</p>
                            </div>
                        </el-card>
                    </div></el-col>
                </template>
            </el-row>
<!-- 猜你喜欢end -->

        </el-main>
        <el-footer>Footer</el-footer>
    </el-container>

    <!--    <template>-->
    <!--        <el-backtop target=".page-component__scroll .el-scrollbar__wrap"></el-backtop>-->
    <!--    </template>-->
</div>
</body>
<script th:src="@{/js/hquery.js}"></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            dayGoods:[],
            eventGoods:[],
            likeGoods:[],
            activeIndex: '1',
            activeIndex2: '1',
            search_input: '',
            urls: ['img/carousel_p1.png', 'img/carousel_p2.png', 'img/carousel_p3.png', 'img/carousel_p4.png']
        },
        computed:{
        },
        methods: {
            handleSelect(key, keyPath) {
                if(key === "7-1"){
                    location.href = "/app/user.html";
                }else if(key === '7-6'){

                }
            }
        }
    })

    function initGoods() {
        const req = {}
        req.gscid = 1001;
        H.form('goods/queryGoods.do',req,function (ret) {
            app.dayGoods = ret.data;
        })

        req.gscid = 1003
        H.form('goods/queryGoods.do',req,function (ret) {
            app.eventGoods = ret.data;
        })

        H.form('goods/queryLikeGoods.do',null,function (ret) {
            app.likeGoods = ret.data;
        })
    }
    initGoods();

    // $("#test").hover(function (v) {
    // })
</script>
</html>