<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索</title>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/vue.js}"></script>
    <link rel="stylesheet" th:href="@{/element-ui/theme-chalk/index.css}">
    <script th:src="@{/element-ui/index.js}"></script>
    <link rel="stylesheet" th:href="@{/css/container.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
    <div id="app">
        <el-container>
            <!-- 头部导航栏 start -->
            <div th:replace="~{header :: copy}"></div>
            <!-- 头部导航栏 end -->
            <el-main>
                <!-- 商品列表 start  -->
                <el-row type="flex" class="row-bg" justify="space-start" style="flex-wrap: wrap;">
                    <template th:each="item : ${goods_list}">
                        <el-col style="margin: 20px 10px" :span="4">
                            <div class="grid-content">
                                <el-link th:href="${item.id} + '.html'" :underline="false">
                                    <el-card :body-style="{ padding: '0px' }">
                                        <img class="image" th:if="${item.cover} != 404"
                                             th:src="${item.cover}">
                                        <img class="image" th:if="${item.cover} == 404"
                                             th:src="${item.cover}">
                                        <div class="card-goods">
                                            <p th:text="${item.name}" class="card-goods-name"></p>
                                            <p th:text="${item.price}" class="card-goods-price"></p>
                                        </div>
                                    </el-card>
                                </el-link>
                            </div>
                        </el-col>
                    </template>
                </el-row>
                <!-- 商品列表 end  -->
                <!-- 分页控件 start -->
                <div class="block">
                    <el-pagination :hide-on-single-page="true" th::current-page="${current_page}" :page-size="20"
                                   th::total='${total}' layout="prev, pager, next">
                    </el-pagination>
                </div>
                <!-- 分页控件 end -->
            </el-main>
            <!-- 脚注 start -->
            <div th:replace="~{footer :: copy}"></div>
            <!-- 脚注 end -->
        </el-container>
    </div>
</body>
<script th:src="@{/js/hquery.js}"></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            activeIndex: '1',
            activeIndex2: '1',
            search_input: ''
        },
        methods: {
            handleSelect(key, keyPath) {
                if (key === "7-6") {
                    H.rest('/app/user/logout.do', null, function(ret) {
                        location.href = '/app/'
                    })
                }
            },
            handleSearch(){
                location.href = "/app/goods/search.html?search=" + app.search_input;
            }
        }
    })
</script>
</html>