<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.example.pojo.User">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="nickname" jdbcType="VARCHAR" property="nickname" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="gender" jdbcType="CHAR" property="gender" />
        <result column="is_del" jdbcType="INTEGER" property="isDel" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <select id="getUser" resultMap="BaseResultMap">
        SELECT *
        FROM ss_user
        <if test="id != 0">
            WHERE id=#{id}
        </if>

    </select>
    
    <select id="userVerify" resultMap="BaseResultMap">
        SELECT *
        FROM ss_user
        WHERE username=#{username}
          <if test="password != null">
              AND password=#{password}
          </if>

    </select>

    <insert id="insert" parameterType="com.example.pojo.SsUser">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Nov 29 21:54:29 CST 2022.
        -->
        insert into ss_user (nickname, username,
        password, avatar, gender,
        address, phone, is_del,
        create_by, create_time, update_by,
        update_time)
        values (#{nickname,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, #{gender,jdbcType=CHAR},
        #{address,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{isDel,jdbcType=INTEGER},
        #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR},
        #{updateTime,jdbcType=TIMESTAMP})
    </insert>


    <update id="updateUserInfo" parameterType="com.example.pojo.User">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Sun Nov 20 01:15:11 CST 2022.
        -->
        update ss_user
        set nickname = #{nickname,jdbcType=VARCHAR},
        username = #{username,jdbcType=VARCHAR},
        password = #{password,jdbcType=VARCHAR},
        avatar = #{avatar,jdbcType=VARCHAR},
        address = #{address,jdbcType=VARCHAR},
        phone = #{phone,jdbcType=VARCHAR},
        gender = #{gender,jdbcType=CHAR},
        is_del = #{isDel,jdbcType=CHAR},
        create_by = #{createBy,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_by = #{updateBy,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateUserAddress" parameterType="com.example.pojo.User">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Sun Nov 20 01:15:11 CST 2022.
        -->
        update ss_user
        set address = #{address,jdbcType=VARCHAR},
        phone = #{phone,jdbcType=VARCHAR},
        update_by = #{updateBy,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="changeUserStatus">
        UPDATE ss_user SET is_del = #{status} WHERE id = #{id}
    </update>


</mapper>